$font-size-main: 15px;
$fontfam-main: 'Roboto', sans-serif;
$max-width: 1170px / 1440px * 100%;
$font-fam2: 'Inter', sans-serif;

$color-main: #545454;
$bg-color-body: #E5E5E5;
$bg-color-cont:#FFFFFF;
$border-col: #E4E4E4;
$col-focus: #007BFF;